{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1 text-center">Django APP</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, molestiae ad! Consequuntur modi ut perspiciatis iusto asperiores culpa consectetur fugiat aspernatur minus illo? Accusantium recusandae beatae ipsam, eveniet numquam rerum. Lorem, ipsum dolor sitamet consectetur adipisicing elit. Consequuntur, molestiaead! Consequuntur modi ut perspiciatis iusto asperiores culpa consectetur fugiat aspernatur minus illo? Accusantium recusandae beatae ipsam, eveniet numquam rerum.</p>
</section>
</main>


{% endblock %}